#Database config
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/tutorlink
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=

#JWT
JWT_SECRET_KEY=


#Mail
SUPPORT_EMAIL=
SUPPORT_PASSWORD=

REGION=
BUCKET_NAME=
ACCESS_KEY_ID=
ACCESS_KEY_SECRET=
